# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.sdf
FirstProgram.sln
*.exe
Debug/FirstProgram.ilk
*.pdb
FirstProgram.opensdf
*.obj
FirstProgram/Debug/FirstProgram.Build.CppClean.log
*.log
FirstProgram/Debug/FirstProgram.tlog/cl.command.1.tlog
*.tlog
FirstProgram/Debug/vc140.idb
*.vcxproj
FirstProgram/FirstProgram.vcxproj.filters
